<!DOCTYPE html>
<html class="kayessess">
<head>
  <title>Styleguide</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "kayessess", media: "all" %>
</head>
<body>
  <header role="banner" class="kayessess__header">
    <%= link_to'Styleguide', kayessess.root_path, class: 'kayessess__masthead' %>
    <nav class="kayessess__navigation">
      <%= section_navigation %>
    </nav>
  </header>
  <section role="main" class="kayessess__main">
    <%= yield %>
  </section>

  <%= javascript_include_tag "kayessess" %>
</body>
</html>
