<!DOCTYPE html>
<html class="kayessess">
<head>
  <title>Styleguide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,user-scalable=0">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "kayessess/kayessess.css", media: "all" %>
</head>
<body class="kayessess__body">
  <header role="banner" class="kayessess__header">
    <%= link_to 'Styleguide', kayessess.root_path, class: 'kayessess__masthead' %>
    <nav class="kayessess__navigation">
      <%= section_navigation %>
    </nav>
  </header>
  <section role="main" class="kayessess__main">
    <%= yield %>
  </section>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "kayessess/kayessess" %>
</body>
</html>
